 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
*{
  margin: 0;
  padding: 0;
  list-style: none;

}
body{
  .header{
    @include outer-container;
    max-width: 100%;
    background-color: #F5F5F5;
    height: 50px;

    .lefthead{
      width: 100%;

      span{
        float: left;
        font-size: 26px;
        position: absolute;
        left: 227px;
        top: 12px;
        color: #333333;
      }

      input{
        position: relative;
        left: 270px;
        width: 350px;
        height: 30px;
        top: -11px;
        border-radius: 6px;
      }

      .explore{
        position: relative;
        left: 635px;
        top:-36px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 10pt;
      }

      .gist{
        position: relative;
        left: 645px;
        top:-36px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 10pt;
      }

      .blog{
        position: relative;
        left: 655px;
        top:-36px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 10pt;
      }

      .help{
        position: relative;
        left: 665px;
        top:-36px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 10pt;
      }
    }

    .righthead{
      width: 100%;

      a.avatarLink{
        float: right;
        position: relative;
        right: 300px;
        bottom: 59px;
        text-decoration: none;

        img{
          border-radius: 5px;
        }
        span{
          position: relative;
          bottom: 7px;
          color: black;
          font-size: 10pt;
          font-weight: bold;
        }
      }
      span.octicon octicon-plus{
        float: right;
        position: relative;
      }
    }

  }
}
