 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
*{
  margin: 0;
  padding: 0;
  list-style: none;

}
body{
  .header{
    @include outer-container;
    max-width: 100%;
    background-color: #F5F5F5;
    height: 50px;

    .lefthead{
      @include span-columns(6);
      width: 100%;
      float: left;

      span{
        float: left;
        font-size: 26px;
        position: absolute;
        left: 227px;
        top: 12px;
        color: #333333;
      }

      input{
        position: relative;
        left: 270px;
        width: 350px;
        height: 30px;
        top: -11px;
        border-radius: 6px;
      }

      .explore{
        position: relative;
        left: 635px;
        top:-36px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 10pt;
      }

      .gist{
        position: relative;
        left: 645px;
        top:-36px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 10pt;
      }

      .blog{
        position: relative;
        left: 655px;
        top:-36px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 10pt;
      }

      .help{
        position: relative;
        left: 665px;
        top:-36px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 10pt;
      }
    }

    .righthead{
      @include span-columns(6);
      width: 100%;
      float: left;

      a.avatarLink{
        float: right;
        position: relative;
        right: 225px;
        bottom: 59px;
        text-decoration: none;

        img{
          border-radius: 5px;
        }
        span{
          position: relative;
          bottom: 7px;
          color: black;
          margin: 4px;
          font-size: 10pt;
          font-weight: bold;
          }
          span.octicon.octicon-plus{
            font-size: 13pt;

          }
          span.octicon.octicon-inbox{
            font-size: 13pt;
          }
          span.octicon.octicon-gear{
            font-size: 13pt;
          }

        }

      }

    }
  .sidebar{
    width: 240px;
    height: 2000px;
    margin-left: 200px;
    .sidebarName{
      border-bottom: 1px solid gray;
      padding-bottom: 10px;
      img{
        border-radius: 5px;
      }
      .fullName{
        font-weight: bold;
        font-size: 28px;
      }
      .userName{
        font-size: 21px;
        color: #666666;
      }
    }
  }
}
